/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

:root{
    font-size: 62.5%;
    --default-cor: #0A4F4F;
}

a{
    text-decoration: none;
}

h1{
    font-size: 5.5rem;
    text-align: center;
    margin: 5.5rem;
    font-weight: 400;
}

button{
    font-size: 3rem;  
}





/* 
} */